openapi: 3.0.0
info:
  title: Safaricom APIs
  description: M-Pesa API client for Daraja
  version: 1.0.0
servers:
  - url: https://sandbox.safaricom.co.ke
  - url: https://api.safaricom.co.ke
paths:
  /mpesa/b2b/v1/paymentrequest:
    post:
      tags:
        - payments
      summary: Make a B2B Payment Request
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/B2BPaymentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/B2BPaymentResponse"
              examples:
                response:
                  value: |-
                    {
                        "OriginatorConversationID": "5118-111210482-1",
                        "ConversationID": "AG_20230420_2010759fd5662ef6d054",
                        "ResponseCode": "0",
                        "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/reversal/v1/request:
    post:
      tags:
        - experience
      summary: Reverse an M-Pesa Transaction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionReversalRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionReversalResponse"
              examples:
                response:
                  value: |-
                    {    
                       "OriginatorConversationID":"71840-27539181-07",    
                       "ConversationID": "AG_20210709_12346c8e6f8858d7b70a",    
                       "ResponseCode":"0",    
                       "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/transactionstatus/v1/query:
    post:
      tags:
        - experience
      summary: Query the Transaction Status of an M-Pesa Transaction
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionStatusQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStatusQueryResponse"
              examples:
                response:
                  value: |-
                    {
                        "OriginatorConversationID": "1236-7134259-1",
                        "ConversationID": "AG_20210709_1234409f86436c583e3f ",
                        "ResponseCode": "0",
                        "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/c2b/v1/simulate:
    post:
      tags:
        - payments
      summary: Simulate a C2B Payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2BPaymentSimulationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BPaymentSimulationResponse"
              examples:
                response:
                  value: |-
                    {}  # Empty response schema
  /mpesa/stkpushquery/v1/query:
    post:
      tags:
        - experience
      summary: Query the status of a Lipa na M-Pesa Online Payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StkPushQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StkPushQueryResponse"
              examples:
                response:
                  value: |-
                    {    
                       "ResponseCode":"0",    
                       "ResponseDescription": "The service request has been accepted successfully",    
                       "MerchantRequestID":"22205-34066-1",    
                       "CheckoutRequestID": "ws_CO_13012021093521236557",
                       "ResultCode":"0",
                       "ResultDesc":"The service request is processed successfully."
                    }
  /mpesa/b2c/v1/paymentrequest:
    post:
      tags:
        - disbursement
      summary: Make a B2C Payment Request
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/B2CPaymentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/B2CPaymentResponse"
              examples:
                response:
                  value: |-
                    {    
                     "ConversationID": "AG_20191219_00005797af5d7d75f652",    
                     "OriginatorConversationID": "16740-34861180-1",    
                     "ResponseCode": "0",    
                     "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/stkpush/v1/processrequest:
    post:
      tags:
        - payments
      summary: Initiate a Lipa na M-Pesa Online Payment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StkPushRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StkPushResponse"
              examples:
                response:
                  value: |-
                    {}  # Empty response schema
  /mpesa/accountbalance/v1/query:
    post:
      tags:
        - experience
      summary: Make an Account Balance query
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBalanceQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceQueryResponse"
              examples:
                response:
                  value: |-
                    {
                        "OriginatorConversationID": " ",
                        "ConversationID": " ",
                        "ResponseCode": " ",
                        "ResponseDescription": " "
                    }
  /oauth/v1/generate:
    get:
      tags:
        - security
      summary: Generate an OAuth Access Token
      security:
        - basicAuth: []
      parameters:
        - name: grant_type
          in: query
          schema:
            type: string
            default: client_credentials
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAccessTokenResponse"
              examples:
                credentials:
                  value: |-
                    {    
                       "access_token": "c9SQxWWhmdVRlyh0zh8gZDTkubVF",
                       "expires_in":"3599"
                    }
  /mpesa/c2b/v1/registerurl:
    post:
      tags:
        - payments
      summary: Register C2B Confirmation and Validation URLs
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2BURLRegistrationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BURLRegistrationResponse"
              examples:
                response:
                  value: |-
                    {
                        "OriginatorCoversationID": "7619-37765134-1",
                        "ResponseCode": "0",
                        "ResponseDescription": "success"
                    }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    B2BPaymentRequest:
      type: object
      required:
        - Initiator
        - SecurityCredential
        - CommandID
        - SenderIdentifierType
        - ReceiverIdentifierType
        - Amount
        - PartyA
        - PartyB
        - AccountReference
        - Remarks
        - QueueTimeOutURL
        - ResultURL
      properties:
        Initiator:
          type: string
          description: The M-Pesa API operator username. This user needs Org Business Pay Bill API initiator role on M-Pesa
        SecurityCredential:
          type: string
          description: Encrypted credential of the user getting transaction status
        CommandID:
          type: string
          enum:
            - BusinessPayBill
            - BusinessPayToBulk
          description: >
            This is a unique command that specifies B2B transaction type.
            BusinessPayBill: This supports sending money to both registered and unregistered M-Pesa customers.
            BusinessPayToBulk: This is a normal business to customer payment, supports only M-PESA registered customers.
        SenderIdentifierType:
          type: integer
          format: int64
          enum:
            - 4
          description: The type of shortcode from which money is deducted. For this API, only "4" is allowed.
        ReceiverIdentifierType:
          type: integer
          format: int64
          enum:
            - 4
          description: The type of shortcode to which money is sent. For this API, only "4" is allowed.
        Amount:
          type: integer
          format: int64
          description: The transaction amount.
        PartyA:
          type: integer
          format: int64
          description: Your shortcode. The shortcode from which money will be deducted.
        PartyB:
          type: integer
          format: int64
          description: The shortcode to which money will be moved
        AccountReference:
          type: string
          description: The account number to be associated with the payment. Up to 13 characters.
        Remarks:
          type: string
          description: Comments that are sent along with the transaction
        QueueTimeOutURL:
          type: string
          description: A URL that will be used to notify your system in case the request times out before processing.
        ResultURL:
          type: string
          description: A URL that will be used to send transaction results after processing.
    B2BPaymentResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
          description: Unique request identifier assigned by Daraja upon successful request submission.
        ConversationID:
          type: string
          description: Unique request identifier assigned by M-Pesa upon successful request submission.
        ResponseCode:
          type: string
          description: The numeric status code indicates the status of transaction processing. 0 means success and any other code means an error occurred or the transaction failed.
        ResponseDescription:
          type: string
          description: Response description message
    TransactionReversalRequest:
      type: object
      required:
        - Initiator
        - SecurityCredential
        - CommandID
        - TransactionID
        - Amount
        - ReceiverParty
        - ReceiverIdentifierType
        - ResultURL
        - QueueTimeOutURL
        - Remarks
      properties:
        Initiator:
          type: string
          description: The name of the initiator initiating the request.
        SecurityCredential:
          type: string
          description: Encrypted credential of the user getting transaction status
        CommandID:
          type: string
          enum:
            - TransactionReversal
          description: Takes only the 'TransactionReversal' Command ID.
        TransactionID:
          type: string
          description: Unique identifier to identify a transaction on Mpesa
        Amount:
          type: integer
          format: int64
          description: The amount of money being sent to the customer.
        ReceiverParty:
          type: integer
          format: int64
          description: The organization that receives the transaction.
        ReceiverIdentifierType:
          type: string
          description: Type of organization receiving the transaction
        ResultURL:
          type: string
          description: URL where the results will be sent by M-Pesa API
        QueueTimeOutURL:
          type: string
          description: URL where the results will be sent by M-Pesa API
        Remarks:
          type: string
          description: Comments that are sent along with the transaction
        Occasion:
          type: string
          description: Any additional information to be associated with the transaction.
    TransactionReversalResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
          description: The unique request ID for tracking a transaction
        ConversationID:
          type: string
          description: The unique request ID returned my M-PESA for each request made
        ResponseCode:
          type: string
          description: he numeric status code indicates the status transaction processing. 0 means success and any other code means an error occurred or the transaction failed. Success submission message or an error description
        ResponseDescription:
          type: string
          description: Response description message
    TransactionStatusQueryRequest:
      type: object
      required:
        - Initiator
        - SecurityCredential
        - CommandID
        - TransactionID
        - PartyA
        - IdentifierType
        - ResultURL
        - QueueTimeOutURL
        - Remarks
      properties:
        Initiator:
          type: string
          description: The name of the initiator initiating the request.
        SecurityCredential:
          type: string
          description: Encrypted credential of the user getting transaction status
        CommandID:
          type: string
          enum:
            - TransactionStatusQuery
          description: Takes only the 'TransactionStatusQuery' Command ID.
        TransactionID:
          type: string
          description: Unique identifier to identify a transaction on Mpesa
        PartyA:
          type: integer
          format: int64
          description: Organization/MSISDN receiving the transaction
        IdentifierType:
          type: string
          description: Type of organization receiving the transaction
        ResultURL:
          type: string
          description: URL where the results will be sent by M-Pesa API
        QueueTimeOutURL:
          type: string
          description: URL where the results will be sent by M-Pesa API
        Remarks:
          type: string
          description: Comments that are sent along with the transaction
        Occasion:
          type: string
    TransactionStatusQueryResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
          description: The unique request ID for tracking a transaction
        ConversationID:
          type: string
          description: The unique request ID returned my M-PESA for each request made
        ResponseCode:
          type: integer
          format: int64
          description: he numeric status code indicates the status transaction processing. 0 means success and any other code means an error occurred or the transaction failed. Success submission message or an error description
        ResponseDescription:
          type: string
          description: Response description message
    C2BPaymentSimulationRequest:
      type: object
      required:
        - ShortCode
        - CommandID
        - Amount
        - Msisdn
        - BillRefNumber
      properties:
        ShortCode:
          type: string
        CommandID:
          type: string
        Amount:
          type: integer
          format: int64
        Msisdn:
          type: string
        BillRefNumber:
          type: string
    C2BPaymentSimulationResponse:
      type: object
      properties: {}
    StkPushQueryRequest:
      type: object
      required:
        - BusinessShortCode
        - Password
        - Timestamp
        - CheckoutRequestID
      properties:
        BusinessShortCode:
          type: integer
          format: int64
          description: This is the organization's shortcode (Paybill or Buygoods - a 5 to 7-digit account number) used to identify an organization and receive the transaction.
        Password:
          type: string
          description: This is the password used for encrypting the request sent. a base64 encoded string. (The base64 string is a combination of Shortcode+Passkey+Timestamp).
        Timestamp:
          type: string
          pattern: '^\d{14}$'
          description: This is the Timestamp of the transaction, normally in the format of YEAR+MONTH+DATE+HOUR+MINUTE+SECOND (YYYYMMDDHHMMSS). Each part should be at least two digits, apart from the year which takes four digits.
        CheckoutRequestID:
          type: string
          description: This is a global unique identifier of the processed checkout transaction request.
    StkPushQueryResponse:
      type: object
      properties:
        ResponseCode:
          type: integer
          format: int64
          description: This is a numeric status code that indicates the status of the request. 0 means the request was successful.
        ResponseDescription:
          type: string
          description: Response description is an acknowledgment message from the API that gives the status of the request submission usually maps to a specific ResponseCode value. It can be a "Success" submission message or an error description.
        MerchantRequestID:
          type: string
          description: This is a global unique Identifier for any submitted payment request.
        CheckoutRequestID:
          type: string
          description: This is a global unique identifier of the processed checkout transaction request.
        ResultCode:
          type: integer
          format: int64
          description: This is a numeric status code that indicates the status of the request. 0 means the request was successful.
        ResultDesc:
          type: string
    B2CPaymentRequest:
      type: object
      required:
        - InitiatorName
        - SecurityCredential
        - CommandID
        - Amount
        - PartyA
        - PartyB
        - Remarks
        - QueueTimeOutURL
        - ResultURL
      properties:
        InitiatorName:
          type: string
          description: This is the Timestamp of the transaction, normally in the format of YEAR+MONTH+DATE+HOUR+MINUTE+SECOND (YYYYMMDDHHMMSS). Each part should be at least two digits, apart from the year which takes four digits.
        TransactionType:
          type: string
          enum:
            - CustomerPayBillOnline
            - CustomerBuyGoodsOnline
          description: >
            This is the transaction type to be used for the request. Only two types are allowed:
            CustomerPayBillOnline: This is a transaction where the customer is expected to pay a bill e.g. utility bill.
            CustomerBuyGoodsOnline: This is a transaction where the customer is expected to pay for goods e.g. a supermarket.
        Amount:
          type: integer
          format: int64
          description: This is the Amount transacted normally a numeric value. Money that the customer pays to the Shortcode. Only whole numbers are supported.
        PartyA:
          type: integer
          format: int64
          description: The phone number sending money. The parameter expected is a Valid Safaricom Mobile Number that is M-PESA registered in the format 2547XXXXXXXX
        PartyB:
          type: integer
          format: int64
          description: The organization shortcode receiving the funds. The parameter expected is a 5 to 7 digit Paybill number.
        PhoneNumber:
          type: integer
          format: int64
          description: The Mobile Number to receive the STK Pin Prompt. This number can be the same as PartyA value above.
        CallBackURL:
          type: string
          description: A CallBack URL is a valid secure URL that is used to receive notifications from M-Pesa API. It is the endpoint to which the results will be sent by M-Pesa API.
        AccountReference:
          type: string
          description: This is an Alpha-Numeric parameter that is defined by your system as an Identifier of the transaction for the CustomerPayBillOnline transaction type. Along with the business name, this value is also displayed to the customer in the STK Pin Prompt message. Maximum of 12 characters.
        TransactionDesc:
          type: string
          description: This is any additional information/comment that can be sent along with the request from your system. Maximum of 13 Characters.
    B2CPaymentResponse:
      type: object
      properties:
        ConversationID:
          type: string
          description: This is a global unique identifier for the transaction request returned by the M-PESA upon successful request submission.
        OriginatorConversationID:
          type: string
          description: This is a global unique identifier for the transaction request returned by the API proxy upon successful request submission.
        ResponseCode:
          type: string
          description: It indicates whether Mobile Money accepts the request or not.
        ResponseDescription:
          type: string
          description: This is the description of the request submission status.
    StkPushResponse:
      type: object
      properties:
        MerchantRequestID:
          type: string
          description: This is a global unique Identifier for any submitted payment request.
        CheckoutRequestID:
          type: string
          description: This is a global unique identifier of the processed checkout transaction request.
        ResponseCode:
          type: integer
          format: int64
          description: This is a numeric status code that indicates the status of the request. 0 means the request was successful.
        ResponseDescription:
          type: string
          description: Response description is an acknowledgment message from the API that gives the status of the request submission usually maps to a specific ResponseCode value. It can be a "Success" submission message or an error description.
        CustomerMessage:
          type: string
          description: This is a message that your system can display to the customer as an acknowledgment of the payment request submission.
    AccountBalanceQueryRequest:
      type: object
      required:
        - Initiator
        - SecurityCredential
        - CommandID
        - PartyA
        - IdentifierType
        - Remarks
        - QueueTimeOutURL
        - ResultURL
      properties:
        Initiator:
          type: string
          description: This is the credential/username used to authenticate the transaction request
        SecurityCredential:
          type: string
          description: Base64 encoded string of the M-PESA short code and password, which is encrypted using M-PESA public key and validates the transaction on M-PESA Core system. It indicates the Encrypted credential of the initiator getting the account balance. Its value must match the inputted value of the parameter IdentifierType.
        CommandID:
          type: string
          enum:
            - AccountBalance
          description: A unique command is passed to the M-PESA system.
        PartyA:
          type: integer
          format: int64
          description: The shortcode of the organization querying for the account balance.
        IdentifierType:
          type: integer
          format: int64
          description: Type of organization querying for the account balance.
        Remarks:
          type: string
          description: Comments that are sent along with the transaction.
        QueueTimeOutURL:
          type: string
          description: URL where the results will be sent by M-Pesa API.
        ResultURL:
          type: string
          description: URL where the results will be sent by M-Pesa API.
    AccountBalanceQueryResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
          description: This is a global unique identifier for the transaction request returned by the API proxy upon successful request submission.
        ConversationID:
          type: string
          description: This is a global unique identifier for the transaction returned by the M-PESA system.
        ResponseCode:
          type: string
          description: It indicates whether Mobile Money accepts the request or not.
        ResponseDescription:
          type: string
          description: This is the description of the request submission status.
    C2BURLRegistrationRequest:
      type: object
      required:
        - ShortCode
        - ResponseType
        - ConfirmationURL
        - ValidationURL
      properties:
        ShortCode:
          type: integer
          format: int64
          description: Usually, a unique number is tagged to an M-PESA pay bill/till number of the organization.
        ResponseType:
          type: string
          enum:
            - Completed
            - Cancelled
          description: >
            This parameter specifies what is to happen if for any reason the validation URL is not reachable. Note that, this is the default action value that determines what M-PESA will do in the scenario that your endpoint is unreachable or is unable to respond on time. Only two values are allowed: Completed or Cancelled. Completed means M-PESA will automatically complete your transaction, whereas Cancelled means M-PESA will automatically cancel the transaction, in the event M-PESA is unable to reach your Validation URL.
        ConfirmationURL:
          type: string
          description: This is the URL that receives the confirmation request from API upon payment completion.
        ValidationURL:
          type: string
          description: This is the URL that receives the validation request from the API upon payment submission. The validation URL is only called if the external validation on the registered shortcode is enabled. (By default External Validation is disabled).
    C2BURLRegistrationResponse:
      type: object
      properties:
        OriginatorCoversationID:
          type: string
          description: This is a global unique identifier for the transaction request returned by the API proxy upon successful request submission.
        ResponseCode:
          type: string
          description: It indicates whether Mobile Money accepts the request or not.
        ResponseDescription:
          type: string
          description: This is the status of the request.
    OAuthAccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
