openapi: 3.0.0
info:
  title: Safaricom APIs
  description: M-Pesa API client for Daraja
  version: 1.0.0
servers:
  - url: https://sandbox.safaricom.co.ke
  - url: https://api.safaricom.co.ke
paths:
  /mpesa/b2b/v1/paymentrequest:
    post:
      tags:
        - payments
      summary: Make a B2B Payment Request
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/B2BPaymentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/B2BPaymentResponse"
              examples:
                response:
                  value: |- 
                    {
                        "OriginatorConversationID": "5118-111210482-1",
                        "ConversationID": "AG_20230420_2010759fd5662ef6d054",
                        "ResponseCode": "0",
                        "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/reversal/v1/request:
    post:
      tags:
        - experience
      summary: Reverse an M-Pesa Transaction
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionReversalRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionReversalResponse"
              examples:
                response:
                  value: |- 
                    {    
                       "OriginatorConversationID":"71840-27539181-07",    
                       "ConversationID": "AG_20210709_12346c8e6f8858d7b70a",    
                       "ResponseCode":"0",    
                       "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/transactionstatus/v1/query:
    post:
      tags:
        - experience
      summary: Query the Transaction Status of an M-Pesa Transaction
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionStatusQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionStatusQueryResponse"
              examples:
                response:
                  value: |- 
                    {
                        "OriginatorConversationID": "1236-7134259-1",
                        "ConversationID": "AG_20210709_1234409f86436c583e3f ",
                        "ResponseCode": "0",
                        "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/c2b/v1/simulate:
    post:
      tags:
        - payments
      summary: Simulate a C2B Payment
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2BPaymentSimulationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BPaymentSimulationResponse"
              examples:
                response:
                  value: |- 
                    {}  # Empty response schema
  /mpesa/stkpushquery/v1/query:
    post:
      tags:
        - experience
      summary: Query the status of a Lipa na M-Pesa Online Payment
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StkPushQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StkPushQueryResponse"
              examples:
                response:
                  value: |- 
                    {    
                       "ResponseCode":"0",    
                       "ResponseDescription": "The service request has been accepted successfully",    
                       "MerchantRequestID":"22205-34066-1",    
                       "CheckoutRequestID": "ws_CO_13012021093521236557",
                       "ResultCode":"0",
                       "ResultDesc":"The service request is processed successfully."
                    }
  /mpesa/b2c/v1/paymentrequest:
    post:
      tags:
        - disbursement
      summary: Make a B2C Payment Request
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/B2CPaymentRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/B2CPaymentResponse"
              examples:
                response:
                  value: |- 
                    {    
                     "ConversationID": "AG_20191219_00005797af5d7d75f652",    
                     "OriginatorConversationID": "16740-34861180-1",    
                     "ResponseCode": "0",    
                     "ResponseDescription": "Accept the service request successfully."
                    }
  /mpesa/stkpush/v1/processrequest:
    post:
      tags:
        - payments
      summary: Initiate a Lipa na M-Pesa Online Payment
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StkPushRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StkPushResponse"
              examples:
                response:
                  value: |- 
                    {}  # Empty response schema
  /mpesa/accountbalance/v1/query:
    post:
      tags:
        - experience
      summary: Make an Account Balance query
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountBalanceQueryRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceQueryResponse"
              examples:
                response:
                  value: |- 
                    {
                        "OriginatorConversationID": " ",
                        "ConversationID": " ",
                        "ResponseCode": " ",
                        "ResponseDescription": " "
                    }
  /oauth/v1/generate:
    get:
      tags:
        - security
      summary: Generate an OAuth Access Token
      security:
        - basicAuth: []
      parameters:
        - name: grant_type
          in: query
          schema:
            type: string
          example: client_credentials
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAccessTokenResponse"
              examples:
                credentials:
                  value: |- 
                    {    
                       "access_token": "c9SQxWWhmdVRlyh0zh8gZDTkubVF",
                       "expires_in":"3599"
                    }
  /mpesa/c2b/v1/registerurl:
    post:
      tags:
        - payments
      summary: Register C2B Confirmation and Validation URLs
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2BURLRegistrationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BURLRegistrationResponse"
              examples:
                response:
                  value: |- 
                    {
                        "OriginatorCoversationID": "7619-37765134-1",
                        "ResponseCode": "0",
                        "ResponseDescription": "success"
                    }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    B2BPaymentRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
        SenderIdentifierType:
          type: string
        ReceiverIdentifierType:
          type: string
        Amount:
          type: integer
          format: int64
        PartyA:
          type: string
        PartyB:
          type: string
        AccountReference:
          type: string
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
        ResultURL:
          type: string
    B2BPaymentResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
        ConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    TransactionReversalRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
        TransactionID:
          type: string
        Amount:
          type: integer
          format: int64
        ReceiverParty:
          type: string
        ReceiverIdentifierType:
          type: string
        ResultURL:
          type: string
        QueueTimeOutURL:
          type: string
        Remarks:
          type: string
        Occasion:
          type: string
    TransactionReversalResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
        ConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    TransactionStatusQueryRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
        TransactionID:
          type: string
        PartyA:
          type: string
        IdentifierType:
          type: string
        ResultURL:
          type: string
        QueueTimeOutURL:
          type: string
        Remarks:
          type: string
        Occasion:
          type: string
    TransactionStatusQueryResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
        ConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    C2BPaymentSimulationRequest:
      type: object
      properties:
        ShortCode:
          type: string
        CommandID:
          type: string
        Amount:
          type: integer
          format: int64
        Msisdn:
          type: string
        BillRefNumber:
          type: string
    C2BPaymentSimulationResponse:
      type: object
      properties: {}
    StkPushQueryRequest:
      type: object
      properties:
        BusinessShortCode:
          type: string
        Password:
          type: string
        Timestamp:
          type: string
        CheckoutRequestID:
          type: string
    StkPushQueryResponse:
      type: object
      properties:
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
        MerchantRequestID:
          type: string
        CheckoutRequestID:
          type: string
        ResultCode:
          type: string
        ResultDesc:
          type: string
    B2CPaymentRequest:
      type: object
      properties:
        InitiatorName:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
        Amount:
          type: integer
          format: int64
        PartyA:
          type: string
        PartyB:
          type: string
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
        ResultURL:
          type: string
        Occasion:
          type: string
    B2CPaymentResponse:
      type: object
      properties:
        ConversationID:
          type: string
        OriginatorConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    StkPushRequest:
      type: object
      properties:
        BusinessShortCode:
          type: string
        Password:
          type: string
        Timestamp:
          type: string
        TransactionType:
          type: string
        Amount:
          type: integer
          format: int64
        PartyA:
          type: string
        PartyB:
          type: string
        PhoneNumber:
          type: string
        CallBackURL:
          type: string
        AccountReference:
          type: string
        TransactionDesc:
          type: string
    StkPushResponse:
      type: object
      properties:
        MerchantRequestID:
          type: string
        CheckoutRequestID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    AccountBalanceQueryRequest:
      type: object
      properties:
        Initiator:
          type: string
        SecurityCredential:
          type: string
        CommandID:
          type: string
        PartyA:
          type: string
        IdentifierType:
          type: string
        Remarks:
          type: string
        QueueTimeOutURL:
          type: string
        ResultURL:
          type: string
    AccountBalanceQueryResponse:
      type: object
      properties:
        OriginatorConversationID:
          type: string
        ConversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    C2BURLRegistrationRequest:
      type: object
      properties:
        ShortCode:
          type: string
        ResponseType:
          type: string
        ConfirmationURL:
          type: string
        ValidationURL:
          type: string
    C2BURLRegistrationResponse:
      type: object
      properties:
        OriginatorCoversationID:
          type: string
        ResponseCode:
          type: string
        ResponseDescription:
          type: string
    OAuthAccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
